:root{
    --primary-text-color: #212121;
    --title-color: #000000;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
}
.body{
    background-color: #ffffff;
}
.list{
    list-style: none;
}

/* Meny+nav */
.nav-ul > li > a {
color: var(--title-color);
border: 1px solid tomato;
}

.nav-meny:focus,
.nav-meny:hover{
color: tomato;
}

/* main color #212121 */
/* secondary color #000000 */
/* accent color  #2196F3 */
/* bakcground color #F5F4FA */
/* Heroy */




/* Button */

.button {
    color: var(--accent-color);
    border-color: var(--primary-bg-color);
}
.button.primary {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    
}
/* Heroy */



.heroy {
    width: 30%;
    
    background-color: grey;
    display:inline-block;
    padding-bottom: 200px;


}   

.image{
    width: 30%;
     margin-top: 200px;
    }

